<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AuthAppUsersConnString"
    	connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=AuthApp.Users;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <roleManager enabled="true"
                defaultProvider="CustomSqlProvider"
                cacheRolesInCookie="true"
                cookieName="MyRolesCookie"
                cookieTimeout="30"
                cookieSlidingExpiration="true"
                cookieProtection="All">
        <providers>
          <add name="CustomSqlProvider" type="System.Web.Security.SqlRoleProvider"
               connectionStringName="AuthAppUsersConnString"
               applicationName="security"/>
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms name="AuthAppCookie"
            loginUrl="Login.aspx"
            timeout="20"
            slidingExpiration="true"
            cookieless="AutoDetect"
            protection="All"
            requireSSL="false"
            enableCrossAppRedirects="false"
            defaultUrl="SecurePage.aspx"
            path="/">
        <!--credentials passwordFormat="SHA1" >
          <user name="Admin" password="12345" />
          <user name="Alex"  password="alexlion"/>
          <user name="Elena" password="12fgap8"/>
          <user name="Anna" password="8CB2237D0679CA88DB6464EAC60DA96345513964"/>
        </credentials-->
      </forms> 
    </authentication>
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <add name="MyMembershipProvider"
             connectionStringName="AuthAppUsersConnString"
             type="System.Web.Security.SqlMembershipProvider"
             passwordFormat="Hashed"/>
      </providers>
    </membership>
    
    <authorization>     
      <deny users="?"/>
    </authorization>
    
  </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>